.md-typeset .admonition.example {
    border-left: solid 0.25rem var(--example_border_color);
    background-color: var(--example_background_color);
}


.admonition.example>* {
    margin-left: 1.5rem;
}

.admonition.example .admonition-title {
    display: none;
}

.admonition.example::before {
    font-family: 'Material Icons';
    content: '\e1b2'; /* e91f e88f */
    font-size: 1.2rem;
    /* vertical-align: bottom; */
    padding-right: .3rem;
    text-shadow: .01rem .01rem var(--text_shadow_color);
    padding-top: 0.3rem;
    float: left;
}

