/* custom-theme.css */
/* @theme custom-theme-roboto */

@import 'default';

:root{
    /* font-family: 'Barlow Condensed';  */
    /* font-weight: 400; */
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 1.28rem;
    text-rendering: optimizeLegibility;
    color: rgb(10, 40, 72);
    /* background-color: red; */
}

/* Size of the slides' content area */
section {
    /* default value ws > 3em */
    /* padding: 2.8em;  */
    
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

h4 {
    color: rgb(42, 104, 175);
    font-style: normal;
    font-weight: 400;
}

code {
    /* font-family: 'Open Sans Condensed'; */
    font-family: 'M+ 1m';
    /* font-size: .9em; */
    font-weight: 400;
    border: solid .06em lightgray;
    padding: .2em .2em .2em 0.2em;
    background-color: #e6e6e6;
}

em {
    color: rgb(42, 104, 175);
    font-style: normal;
    
}

mark {
    color: rgb(202, 69, 33);
    background-color: inherit;
}

blockquote p em {
    color: inherit;
    font-style: italic;
}

blockquote p {
    color: inherit;
    font-style: italic;
    /* background-color: #f1f2f4; */
}

.kursiv {
    font-style: italic;
}

/* ========================
    CONTAINERS
   ========================
*/

/* blue container for special notes etc. */
.note, .blue {
    background-color: rgb(232, 241, 248);
    border: solid 0.2rem rgb(36, 140, 188);
    padding: 0 0.6rem 0 0.6rem;
    /* color: #004d1a; */
}

.note > p:last-child, .blue > p:last-child {
    margin-bottom: 0.16em;
}

/* Task container */
.task, .green {
    background-color: rgb(235, 247, 232);
    border: solid 0.2rem rgb(61, 171, 47);
    padding: 0 0.6rem 0 0.6rem;
    color: #004d1a;
}

.task > p:last-child, .green > p:last-child {
    margin-bottom: 0.16em;
}

/* Example container */
.example, .gray {
    background-color: rgb(238, 238, 238);
    border: solid 0.2rem rgb(123, 123, 123);
    padding: 0 0.6rem 0 0.6rem;
    color: #323232;
}

.example > p:last-child, .gray > p:last-child {
    margin-bottom: 0.16em;
}


/* Warning Box (used warning since 'red' is reserved for font color */
.warning {
    background-color: #ffe6e6;
    border: solid 0.2rem #cc0000;
    padding: 0 0.6rem 0 0.6rem;
    color: #b30000;
}

.warning > p:last-child {
    margin-bottom: 0.16em;
}

/* .task > p:first-child:before {
    content: 'Task';
    font-weight: bold;
    padding-right: 1rem;
    color: black;
} */


/* TODO: use Variables for colors */
.definition {
    background-color: rgb(249, 236, 232);
    border: solid 0.2rem rgb(201, 69, 33);
    padding: 0 0.6rem 0 0.6rem;
}

/* .definition > p:last-child::after {
    display: block;
    min-width: 3rem;
    width: 4rem;
    border-top: solid 1px;
} */

.definition > p:first-child:before {
    content: 'Definition';
    font-weight: bold;
    padding-right: 1rem;
}


/* .definition:after {
    border-top: solid 1px;
    content: 'Quelle: Eigene Definition angelehnt an www.somewebsite.com';
    font-size: .72em;
} */

/* display source information in a different style than the def. */
.definition > p:last-child {
    font-size: 0.64em;
    border-top: solid 1px;
    margin-bottom: 0.5em;
    /* margin-left: 0.5em; */
}

.definition > p:nth-last-child(2) {
    margin-bottom: 0.4em;
}
/*
.definition > p:last-child::before {
    content: ' ';
    color: white;
    border-top: solid .05em black;
    display: block;
    max-width: 12em;
    margin-bottom: .2em;
} */


/* ===========================
    COLUMNS
   ===========================
*/
/* Use this for flexible columns */
.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* determines the relative width of a single column */
.single {
    flex: 1 1;
}

.double {
    flex: 2 1;
}

.triple {
    flex: 3 1;
}

.quad {
    flex: 4 1;
}

.equalcolumns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 2em;
}

/* make columns equally wide and add a litte space between them */
.equalcolumns > div {
    flex: 1;
    /* margin-right: 0.25em; */
}

/* remove right space from last column */
.equalcolumns > div:last-of-type {
    flex: 1;
    /* margin-right: 0.0em; */
}


.twocolumns {
    column-count: 2;
    /* column-rule-width: 1px; */
    /* column-width: 50%; */
}

.threecolumns {
    column-count: 3;
    /* column-rule-width: 1px; */
    /* column-width: 50%; */
}

/* Important to have multi-col definitions to start at the same top line  */
.twocolumns dl dt:first-of-type {
    margin-top: 0em;
}




/* ========================
    VERTICAL SPACES
   ========================
*/


.BIGSKIP {
    margin-top: 6rem;
}

.BIGskip {
    margin-top: 4rem;
}

.Bigskip {
    margin-top: 2rem;
}

.bigskip {
    margin-top: 1.5rem;
}

.skip {
    margin-top: 1rem;
}

.shortskip {
    margin-top: 0.5rem;
}

.tinyskip {
    margin-top: 0.2rem;
}

/* Use this when a bulleted list should start immediately after a paragraph */
.nobottommargin {
    margin-bottom: 0em;
}


/* ========================
    HORIZONTAL SPACES
   ========================
*/

.centerbox {
    margin-left: auto;
    margin-right: auto;
}


/* ========================
    FONT SIZES
   ========================
*/
.big {
    font-size: 1.2em;
    /* font-weight: 600; */
}

.bigger {
    font-size: 1.5em;
    /* font-weight: 600; */
}

.biggest {
    font-size: 2.0em;
    /* font-weight: 600; */
}

.center {
    text-align: center;
}

.italic {
    font-style: italic !important;
}

.small {
    font-size: 0.9em;
}

.smaller {
    font-size: 0.8em;
}

.smallest {
    font-size: 0.7em;
}

.tiny {
    font-size: 0.6em;
}



/* display source information somewhere on a slide  */
.source {
    margin-top: -1em;

    font-size: 0.7em;
    text-align: end;
    color: gray;
    font-style: italic;
    /* border: solid 1px darkgray;
    background-color: honeydew; */
    /* display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end; */
}


/* ========================
    COLORS
   ========================  
*/

.darkgray {
    color: #4a4a4a;
}

.gray {
    color: gray;
}

.red {
    color: red;
}

.lightgreen {
    color: #1eab79;
}


/* ========================
    FOOTNOTES
   ========================  
*/
.footnotes {
    font-size: 0.6em;
    line-height: 1.2em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: .5em;
}

/* Trick: Use white text to display ruler before footnotes start */
.footnotes::before {
    content: ' ';
    color: white;
    border-top: solid .05em black;
    display: inline-block;
    max-width: 12em;
    margin-bottom: .2em;
    margin-left: -.5em;
}


sup {
    color: darkcyan;  
    padding: 0 .08em 0 .08em;
    /* font-family: 'Barlow Semi Condensed'; */
    /* font-weight: normal; */
}

/* display multi-line footnote text indented  */
.footnotes p {
    padding-left: .2em;
    text-indent: -.6em;
    margin-bottom: 0;
}


/* ========================
    Lists
   ========================  
*/

ul > li > ul, 
ul > li > ol,
ol > li > ul, 
ol > li > ol {
    font-size: 0.9em;
    /* color: rgb(89, 89, 89); */
}

ul > li > ul > li::before {
    color: red;
}
