@import url("./basic/colors.css");
@import url("./basic/figures.css");
@import url("./basic/blockquotes.css");
@import url("./basic/headlines.css") screen;
@import url("./admonition/admonition.css") screen;
@import url("./admonition/note.css") screen;
@import url("./admonition/abstract.css") screen;
@import url("./admonition/warning.css") screen;
@import url("./admonition/question.css") screen;
@import url("./admonition/example.css") screen;
@import url("./admonition/tip.css") screen;
/* @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap'); */

@font-face {
    font-family: 'Roboto Condensed';
    src: url('https://projects.fbi.h-da.de/~s.zander/fonts/RobotoCondensed-Regular.ttf');
}


/* @font-face {
    font-family: 'Material Icons';
    src: url('https://projects.fbi.h-da.de/~s.zander/fonts/icons/MaterialIcons-Regular.ttf');
} */


/* cf. https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth */ 
body {
    /* 2021-05-05: disabled it to see how the roboto condensed font renders  */
    /* -webkit-font-smoothing: auto !important;  */ 
    font-family: "Roboto Condensed";
}

.md-content__inner.md-typeset {
    /* line-height: 1.4em; */
}

/* Added to adjust the size of code (default was too large) */
/* Update: does not work with latest Mkdocs-Material version */
.codehilitetable {
    font-size: 0.9em;
}

/* nicer formatting of code snippets in texts */
code, .md-typeset code.codehilite {
    border: solid 1px gray;
    padding-left: 0.2em;
    padding-right: 0.2em;
    box-shadow: none;
    font-size: 0.7em;
}

/* Selects only the code-blocks */
/* For newest version of MKdocs Material */
.md-typeset pre>code {
    /* color: violet; */
    font-size: 0.85em;
    /* font-family: 'Roboto Mono'; */
}





/* =================================================
    2022-04-15: Added for correct indentation of ul & ol
   =================================================
*/
.md-typeset ol, .md-typeset ul {
    padding: inherit;
    /* margin: inherit; */
}



/* 
    Links
*/
li>a[data-md-state="active"] {
    color: var(--toc_active_item_foreground);
    /* background-color: red; */
    font-weight: bold;
}

li.md-nav__item>a:hover {
    color: var(--toc_active_item_foreground);
    background-color: var(--toc_active_item_background);
    font-weight: bold;
}


/* Added to have a nice icon before text links  */
/* 2022-11-03: Disabled since it should not be used for all links */
/* .md-content .md-content__inner a::before {
    font-family: 'Material Icons';
    content: 'share'; 
    top: .1em;
    margin-right: .1em;
    position: relative;
    color: gray;
} */




/* .question {
    background-color: #fcffd6 !important;
} */


/* SZ: added to have more space between bullet lists */
.md-typeset ol li, .md-typeset ul li {
    /* margin-bottom: 1em; */
}


div.md-content a:hover:not(.md-footer-nav__link) {
    background-color:var(--link_hover_background_color);
    color: var(--link_hover_text_color);
    /* font-weight: bold; */
    transition-duration: 0s;
}


/* Captured from browser */
.md-nav__link[data-md-state=blur] {
    color: rgba(0,0,0,.14);
}


.md-typeset mark {
    /* color: rgb(237, 132, 3); */
    color: crimson;
    background-color: snow;
    /* border-bottom: solid 0.1em;  */
    /* border: solid 1px ; */
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin-right: 0.2em;
    box-shadow: 0.06em 0.06em 0.1em rgb(225, 196, 202); /*was lightgray */
}


/* Added to change the color of check-symbol introduced with newest version of mkdocs-material */
.md-typeset .task-list-control [type=checkbox]:checked+.task-list-indicator::before {
    background-color: var(--abstract_border_color);
}

/* IMPORTANT: 
    In case icons will not be rendered correctly or at all, do the following steps
    a) open Source #1
    b) check the @font-face part for changes, in particular the src-property
    c) copy the new src-value to this css
    d) it should be working again (last time, the value changed and link was dead
*/
/* Dirty hack to enable Google Material Icons again using content-notation in CSS */
/* Source: https://fonts.googleapis.com/icon?family=Material+Icons */
/* Source 2: https://google.github.io/material-design-icons/ */
/* List of Icons: https://github.com/google/material-design-icons/blob/master/iconfont/codepoints */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://projects.fbi.h-da.de/~s.zander/fonts/icons/MaterialIcons-Regular.ttf);
    /* src: url(https://fonts.gstatic.com/s/materialicons/v126/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2'); */
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
  }

  #semantisches-wissensmanagement-im-unternehmen-konzepte-technologien-anwendung {
    font-size: 1.5rem;
  }

/* }  */
/* end SCREEN ONLY */ 

