@import url("./basic/colors.css");
@import url("./admonition/admonition.css");
@import url("./admonition/note.css");
@import url("./admonition/abstract.css");
@import url("./admonition/warning.css");
@import url("./admonition/question.css");


body {
    counter-reset: figure;
}


li>a[data-md-state="active"] {
    color: var(--toc_active_item_foreground);
    /* background-color: red; */
    font-weight: bold;
}

li.md-nav__item>a:hover {
    color: var(--toc_active_item_foreground);
    background-color: var(--toc_active_item_background);
    font-weight: bold;
}


/* .question {
    background-color: #fcffd6 !important;
} */





div.md-content a:hover:not(.md-footer-nav__link) {
    background-color:var(--link_hover_background_color);
    color: var(--link_hover_text_color);
    /* font-weight: bold; */
    transition-duration: 0s;
}



img + em {
    display: block; 
    text-align: center;
    color: gray;
    /* background-color: gray; */
}

img+em:before {
    counter-increment: figure;
    content: 'Abbildung ' counter(figure) ': ';
}

.md-content__inner.md-typeset h3 {
    /* background-color: black; */
    /* display: inline-flex; */
    color: black;
    font-family: 'Zilla Slab', Roboto, serif;
    font-size: 1.4rem;
    font-weight: 900; 
    margin-top: 2rem;
    padding-bottom: 0.15em;
    /* padding-left: 0.5rem; */
    /* padding-right: 0.5rem; */
}

.md-content__inner.md-typeset h2 {
    /* background-color: black; */
    color: var(--primary-color);    /*#009688; */
    font-weight: 300; 
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 0.15rem;
    font-size: 2.0rem; 
    border-top: 0.15rem solid var(--primary-color);
    border-bottom: 0.15rem solid var(--primary-color);
}

.md-content__inner.md-typeset h1 {
    font-size: 3rem;
}

/* Captured from browser */
.md-nav__link[data-md-state=blur] {
    color: rgba(0,0,0,.14);
}

.md-typeset blockquote {
    font-style: italic;
    margin: 3em !important;
}