.md-typeset .admonition.question {
    border-left: solid 0.25rem var(--question_border_color);
    background-color: var(--question_background_color);
}

.admonition.question>* {
    margin-left: 1.5rem;
}

.admonition.question .admonition-title {
    display: none;
}

.admonition.question::before {
    font-family: 'Material Icons';
    content: '\e8af'; /* e91f */
    font-size: 1.2rem;
    padding-right: .3rem;
    text-shadow: .01rem .01rem var(--text_shadow_color);
    padding-top: 0.5rem;
    float: left;
}

.md-typeset details.question {
    font-size: .8rem;
    border-radius: 0;
    border-left: solid 0.24rem var(--question_border_color);
    background-color: var(--question_text_background_color);
}

.md-typeset details.question>summary::before {
    font-size: 1.2rem;
    color: var(--question_border_color);
}

.md-typeset details.question>summary {
    padding-left: 2.2rem;
    background-color: var(--question_background_color);
    border-bottom-color: var(--question_border_color);
    /* border-bottom-width: .064rem; */
}
