body {
    counter-reset: figure;
}

:root {
    --primary-color: #128bcd;
    --active-color: red;
}


li>a[data-md-state="active"] {
    color: red;
    /* background-color: red; */
    font-weight: bold;

}
/*
li.md-nav__item:first-of-type {
    color: green;
}


.md-nav__link:first-child {
    color: red;
} */

/* .md-nav__item.md-nav__item--active {
    background-color: gold;    
} */

/* ul.md-nav__list a[data-md-state="blur"]:first-of-type {
    background-color: gold;
} */

.admonition {
    border-radius: 0em !important;
    font-size: 1.4rem !important;
    border-color: #0000003f !important;
}

.admonition-title {
    background-color: #00000020 !important;
    color: rgba(0,0,0,.87) !important; 
    text-shadow: .02em .02em white;
    /* display: none !important; */
}

.admonition-title:before {
    color: rgba(0,0,0,.87) !important;   
}

.admonition.note .admonition-title:before {
    font-weight: 900;
    content: '\E91F  ';
    /* font-size: 1.8rem; */
    font-family: 'Material Icons';
    text-shadow: .02em .02em white;
}

.question {
    background-color: #fcffd6 !important;
}

.warning {
    background-color: #ffd6d6 !important;
}

.note {
    background-color: #d6efff !important;
}

.summary,.abstract {
    background-color: #f5f4f4 !important;
}

/* .note>p+p::before {
    font-weight: 900;
    content: '\E91F  ';
    font-size: 1.8rem;
    font-family: 'Material Icons';
    display: inline;
} */



a:hover {
    background-color: lightyellow;
    font-weight: bold;
    /* transition-duration: .25s; */
}



img + em {
    display: block; 
    text-align: center;
    color: gray;
    /* background-color: gray; */
}

img+em:before {
    counter-increment: figure;
    content: 'Figure ' counter(figure) ': ';
}

h3 {
    /* background-color: black; */
    color: black;
    font-family: 'Zilla Slab', Roboto, serif;
    font-size: 2.8rem !important;
    font-weight: 900 !important; 
    margin-top: 4rem;
    padding-bottom: 0.3em;
    /* padding-left: 0.3em; */
}

h2 {
    /* background-color: black; */
    color: var(--primary-color);    /*#009688; */
    font-weight: 300 !important; 
    padding-bottom: 3rem;
    padding-top: 3rem;
    padding-left: 0.3rem;
    font-size: 4.0rem !important; 
    border-top: 0.3rem solid var(--primary-color);
    border-bottom: 0.3rem solid var(--primary-color);
}

h1 {
    font-size: 6rem !important;
}

/* Captured from browser */
.md-nav__link[data-md-state=blur] {
    color: rgba(0,0,0,.14);
}

blockquote {
    font-style: italic;
}