:root {
    --primary-color: #128bcd;
    --secondary-color: green;

    --toc_active_item_foreground: red;
    --toc_active_item_background: white;

    --note_border_color: #2c8fcd;
    --note_background_color: #d6efff;

    --abstract_border_color: #bbbaba;
    --abstract_background_color: #f5f4f4;

    --warning_border_color: #dc9090;
    --warning_background_color: #ffd6d6;

    --question_border_color: #e6ad71;
    --question_background_color: #ffebd6;

    --text_shadow_color: white;
}