.admonition.note {
    border-left: solid 0.5rem #2c8fcd;
    background-color: #d6efff;
}

.note>p:nth-of-type(2):before {
    content: 'Note: ';
    font-weight: bold;
    text-shadow: .02em .02em white;
/*            font-size: 1.2rem;*/
}


/* .note>p:nth-of-type(2) {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
} */

.admonition.note>* {
    margin-left: 3rem;
}

.admonition.note .admonition-title {
    display: none;
}

.admonition.note::before {
    font-family: 'Material Icons';
    content: '\E91F';
    font-size: 2.4rem;
    vertical-align: bottom;
    padding-right: .6rem;
    text-shadow: .02rem .02rem white;
    padding-top: 1rem;
    float: left;
    /* padding-left: 0.5rem; */
/*
    height: 2rem;
    line-height: 3rem;
*/
}

